recorded/nodered-flow.json
[{
    "id": "f6f2187d.f17ca8",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
}, {
    "id": "ef3caef1.f2924",
    "type": "http in",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "url": "/lightSensor",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 220,
    "wires": [
        ["3ac1c5.796eae3c", "f0a2a7b2.877ee8", "62533f1f.d3a34"]
    ]
}, {
    "id": "ea3eae25.6ce62",
    "type": "http response",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 450,
    "y": 360,
    "wires": []
}, {
    "id": "3ac1c5.796eae3c",
    "type": "change",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "foi que foi",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 240,
    "y": 360,
    "wires": [
        ["ea3eae25.6ce62"]
    ]
}, {
    "id": "f0a2a7b2.877ee8",
    "type": "change",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "rules": [{
        "t": "move",
        "p": "payload.isLightOff",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 540,
    "y": 260,
    "wires": [
        ["37dc838d.0d1bfc"]
    ]
}, {
    "id": "62533f1f.d3a34",
    "type": "debug",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 550,
    "y": 180,
    "wires": []
}, {
    "id": "37dc838d.0d1bfc",
    "type": "ui_switch",
    "z": "f6f2187d.f17ca8",
    "name": "lampSwitch",
    "label": "",
    "tooltip": "",
    "group": "93fae10c.09faa",
    "order": 1,
    "width": "9",
    "height": "4",
    "passthru": true,
    "decouple": "false",
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "fa-lightbulb-o center fa fas fa-5x",
    "oncolor": "yellow",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "fa-lightbulb-o center fa fas fa-5x",
    "offcolor": "gray",
    "animate": true,
    "className": "",
    "x": 900,
    "y": 240,
    "wires": [
        []
    ],
    "icon": "font-awesome/fa-lightbulb-o"
}, {
    "id": "93fae10c.09faa",
    "type": "ui_group",
    "name": "Light Status",
    "tab": "bd0a34ae.3ad828",
    "order": 1,
    "disp": false,
    "width": "9",
    "collapse": false,
    "className": "center"
}, {
    "id": "bd0a34ae.3ad828",
    "type": "ui_tab",
    "name": "Dashboard",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
}]